body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset,
button {
  border-color: transparent;
}

input:focus {
  background-color: hsl(207, 100%, 98%);
  border-color: hsl(0, 100%, 63%);
  outline: hsl(0, 100%, 63%);
  color: black;
}

input

button {
  cursor: pointer;
}

img {
  width: 100%;
}
