.huddle--features2 {
  text-align: center;
  /* background-image: url('../images/bg-section-bottom-mobile-2.svg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.huddle--features2--container {
  margin-bottom: 100px;
  padding-top: 100px;
}

.huddle--features2__btn {
  background-color: hsl(322, 100%, 66%);
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-top: 20px;
  color: white;
}

@media(min-width: 800px) {
  /* .huddle--features2 {
    background-image: url('../images/bg-section-bottom-desktop-2.svg');
  } */
}
