.huddlle--feature1 {
  margin-top: 100px;
  text-align: center;
}

.huddlle--feature1--container {
  display: grid;
  grid-template-rows: max-content;
  row-gap: 100px;
  text-align: center;
}

.huddle--feature1__section3--conatiner,
.huddle--feature1__section5--container {
  background-color: hsl(207, 100%, 98%);
}

.huddle--feature1__section2--wrapper:nth-of-type(1) {
  margin-bottom: 50px;
}

.huddle--feature1__section2--numbers {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.huddlle--feature1__section1,
.huddlle--feature1__section2,
.huddle--feature1__section3--conatiner,
.huddle--feature1__section4,
.huddle--feature1__section5--wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.huddle--feature1__section3 {
  background-image: url('../images/bg-section-top-mobile-1.svg'),
                    url('../images/bg-section-bottom-mobile-1.svg');
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: contain;
}

.huddle--feature1__section5 {
  background-image: url('../images/bg-section-top-mobile-2.svg'),
                    url('../images/bg-section-bottom-mobile-2.svg');
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: contain;
}

.huddle--feature1__section3--conatiner {
  margin-block-start: 29%;
  margin-block-end: 13%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.huddle--feature1__section5--container {
  margin-block-start: 27%;
  margin-block-end: 26%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media(min-width: 375px) {
  .huddlle--feature1__section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .huddle--feature1__section2--wrapper:nth-of-type(1) {
    margin-bottom: 0;
  }

}

@media(min-width: 800px) {

  .huddlle--feature1__section1,
  .huddlle--feature1__section2 {
     width: 80%;
     margin-left: auto;
     margin-right: auto;
  }

  .huddle--feature1__section3--conatiner,
  .huddle--feature1__section5--container {
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
  }

  .huddle--feature1__section4 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
  }

  .huddle--feature1__section5--wrapper,
  .huddle--feature1__section4--wrapper,
  .huddle--feature1__section3--wrapper {
    text-align: left;
    flex-basis: 40%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

