.huddle__footer {
  background-image: url('../images/bg-footer-top-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  color: white;
  position: relative;
  padding-top: 15%;
}

.huddle__footer--container {
  background: hsl(192, 100%, 9%);
  padding-left: 16px;
  padding-right: 16px;
  margin-block-start: -1rem;
}

.huddle__footer--subContainer {
  padding-top: 100px;
}

.huddle--footer__fieldset1 {
  width: 90%;
  border-color: transparent;
  display: contents;
}

.huddle--footer__form1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 100px;
}

.huddle--footer__btn1,
.huddle--footer__input1 {
  border-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
}

.huddle--footer__input1 {
  width: 100%;
  background-color: white;
  border-color: transparent;
  cursor: text;
}

.huddle--footer__btn1 {
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 500;
  font-size: 16px;
  list-style-type: 16px;
  padding-left: 35px;
  padding-right: 35px;
}

.huddle__footer__fieldset,
.huddle__footer--input {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 14px;
}

.huddle__footer--input {
  position: relative;
  padding-inline-start: 41px;
  background-repeat: no-repeat;
}

.huddle__footer--input--tel {
  background-image: url('../images/icon-phone.svg');
}

.huddle__footer__nav {
  margin-top: 50px;
}

.huddle__footer__nav{
  padding-bottom: 50px;
}

.huddle__footer__list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.huddle__footer__items {
  width: 50px;
}

.huddle__footer__links {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
}

.huddle__footer__links--facebook {
  background-image: url(../images/icon-facebook.svg);
}

.huddle__footer__links--instagram {
  background-image: url('../images/icon-instagram.svg');
}

.huddle__footer__links--twitter {
  background-image: url('../images/icon-twitter.svg');
}

.huddle__footer--input--email {
  background-image: url('../images/icon-email.svg');
}

@media (min-width: 800px) {
  .huddle__footer--subContainer {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .huddle--footer__form1 {
    display: flex;
    flex-direction: row;
  }

  .huddle__footer--wrapper {
    flex-basis: 40%;
  }
}

